.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.adjust-size-image{
  width: 125px;
  height:60px;
}

.align-button{
  align-items: 10px;
}

.scale-with-grid{
  max-width: 100%;
}

/*Aranjare imagini*/

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  /* height: 300px; Should be removed. Only for demonstration */
}

/*Imagine cu overlay*/
.container {
  position: relative;
  /* width: 50%; */
}

.image {
  display: block;
  /* width: 100%; */
  height: auto;
  width:640px;
  height:960px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #17a2b8;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 50%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.centreaza{
  text-align: center;
  vertical-align: middle;
}
.centreaza p{
  font-size: 1.22rem ;
  font-weight: 400;
}

.medsan-container .column{
  -webkit-box-shadow: 3px 10px 61px -1px rgba(161,187,217,1);
-moz-box-shadow: 3px 10px 61px -1px rgba(161,187,217,1);
box-shadow: 3px 10px 61px -1px rgba(161,187,217,1);
}
.medsan-container {
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;

}

.medsan-container .row {
  background-color: azure;
}

.clinici-container{
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.clinici-container .table{
  -webkit-box-shadow: 3px 10px 61px -1px rgba(11,73,143,1);
-moz-box-shadow: 3px 10px 61px -1px rgba(11,73,143,1);
box-shadow: 3px 10px 61px -1px rgba(11,73,143,1);
}

.titluri{
  text-shadow: 3px 2px #0002ff38;
}

body {
  /* background-image: url('./images/galben3.jpg'); */
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  background-attachment: fixed;
}

.fundal-resize{
  width: 100% !important;

}
.fit-title{
  margin-bottom: 660px;

}

.fit-quote-2{
  margin-left: 457px;
  margin-bottom: 760px;
  color:black;
}
.fit-quote-3{
  margin-left: -437px;
  margin-bottom: 760px;
  color:black;
}
.fit-button{
  margin-right: 10px;

}

.footer-color{
  background-color: #282c34;
  color: white;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.card-indent{
  margin-left: 60px;
}

.card-img-top {
  width: 18rem;
  height: 10rem;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.select-size {
  width: 100% !important; /*ocupa 100% pozitia wrapperului*/
}

.label-size-terms-conditions{
  color: royalblue;
  font-size: small;
}

.register-button{
  margin-left: 80px;

}

.login-button{
  margin-left: 80px;

}

.edit-button{
  margin-left: 80px;

}

.page-container .center-form{
  height: 600px;
  margin-top: -15px;

}

.admin-page-container {
  height: 600px;
  margin-top: -15px;

}

.page-container-links {
  height: -webkit-fill-available;
}

.center-form{
  margin-left: 600px;

}

.user-form{
  margin-left: 50px;

}

.profile-picture{
  max-height: '280px';
  max-width: '300px';
  margin-top: 30px;
}

.image-upload-wrapper{
  margin-bottom: 200px;
  max-height: '280px';
  max-width: '300px';
}

.form-input{
  margin-left: 100px;
  margin-top: 25px;
}

.add-margin-to-form{
  margin-top: 25px;

}

.carousel.slide{
  margin-top: -15px;

}

.btn-blockk {
  display: block;
  width: 6%;
  margin-left: 170px;
}

.table-color{
  background-color: #f0bb77;
}

.links-margin{
  margin-left: 700px;
}



